<div class="row">
    <!-- Banner and sidebar HTML elements -->
    <div class="col-sm-10">
        <div class="container-fluid p-5 my-1 border">
            <!--Banner here, link on top of banner image aligned left, don't know how to align it with the bottom of the container.-->
            <h5>
                <div style="text-align: left;">
                    <a routerLink="">Worldshare</a>
                </div>
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Added a border -->
<div class="sidenav" style="border:solid rgb(222,226,230) 2px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet tempore reiciendis corrupti ullam dolor vitae ad cumque quaerat aut quia dolore, minus, at enim atque dolorum, omnis maiores dolorem nostrum?</p>
    <a [routerLink]="['posts/new']" class="btn btn-secondary btn-lg btn-block">Create a Post</a>
</div>
