<div class="container">
    <div class="row">
        <div class="container px-5 py-4 my-3 border" style="background-color:#abdbe3">
            <div style="text-align: left;">
                <h3 style="margin-bottom:0">
                    <a routerLink="">Worldshare</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 order-2 order-md-1">
            <div class="">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-md-3 order-1 order-md-2 py-3" style="background-color:#f8f9fa">
            <!-- <div class="sidenav" style="border:solid black 4px"> -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet tempore reiciendis corrupti ullam dolor vitae ad cumque quaerat aut quia dolore, minus, at enim atque dolorum, omnis maiores dolorem nostrum?</p>
                <a [routerLink]="['posts/new']" class="btn btn-secondary btn-block">Create a Post</a>
            <!-- </div> -->
        </div>
    </div>
</div>

