  <div class="container-fluid border col-md-5 mx-auto" style="padding: 5%;">
    <div style="text-align: center" >
        <h2 style="text-align: center;">{{post.title}}</h2>
        <img [src] = "post.imagelink">
        <p>{{post.postDescription}}</p>
    </div>

    <h2>Comments:</h2>
    <hr>
    <ul>
      <li *ngFor="let entry of comments; let i = index">{{this.post.postComments[i]}}</li>
    </ul>
<hr>
    <div class="container-fluid border">
      <div style="text-align: center" >
        <h1>Add a Comment</h1>
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <label>
              <div style="float: left; margin-right: 5px;">Comment: </div>
              <textarea style="resize: none;" rows="4" cols="23" formControlName="newComment"></textarea>
            </label>
          
          </fieldset>
        <br>
          <input type="submit" value="Submit" [disabled] = "!commentForm.valid">
        </form>
      </div>
    </div>

    


