
<ng-container *ngFor="let item of postList; let i = index">
  <ng-container *ngIf="postList[i].id && !focus">
  <button *ngIf="role == 'admin'" class = "btn btn-danger" (click) = "deletePost(i)" style="float: right;">X</button>
    <app-post [post] = "postList[i]"  (click) = "focusPost(postList[i])" *ngIf="!focus"></app-post>
  </ng-container>  
</ng-container>
<button *ngIf="!focus" id="roleBtn" #roleBtn class="btn btn-danger" style="position:relative;" (click) = "switchRole()">Switch to Admin</button>

<!-- <ng-container *ngIf="focus">
   <a href="" (click) = "focus = false" style="margin: 2%;"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg></a>
<app-focus-post [post] = "selectedPost" style="justify-content: center;" [role] = "role"></app-focus-post>
</ng-container> -->
